/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px = rem)
10 = 0.625 / 12 = 0.75 / 14 = 0.875 / 16 = 1 / 18 = 1.125 / 20 = 1.25 / 24 = 1.5 / 30 = 1.875
36 = 2.25/ 44 = 2.75 / 52 = 3.25 / 62 = 3.875 / 74 = 4.625 / 86 = 5.375 / 98 = 6.125
*/

/* -------------------- */
/* custom variables */
/* -------------------- */
:root {
    /* font-size */
    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-600: 1.1rem;
    --fs-700: 1.25rem;
    --fs-800: 1.5rem;
    --fs-900: 1.7rem;
    --fs-1000: 2.25rem;
    --fs-1100: 2.75rem;
    --fs-1200: 3.25rem;
    --fs-1300: 3.875rem;
    --fs-1400: 4.625rem;
    --fs-1500: 5.375rem;
    --fs-1600: 6.125rem;

    /* colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-gray-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
    --clr-blue: blue;
    --clr-yellow: yellow;
    --clr-red: red;
    --clr-cyan: cyan;

    /* font sizes */
    --fs-15: 0.938rem;

    /* font family */
    --ff-sans-serif: 'Outfit', sans-serif;

    /* font weight */
    --fw-400: 400;
    --fw-700: 700;

    /* media queries */
    --mq-375: 23.438rem;
    --mq-1440: 60rem;
}

/* -------------------- */
/* reset */
/* -------------------- */
/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* reset body */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-sans-serif);
    color: var(--clr-gray-blue);
}

/* reset images */
img,
picture {
    max-width: 100%;
    display: block;
}

/* reset forms */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for user's that turn them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------- */
/* utility classes */
/* -------------------- */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
    align-items: center;
    justify-content: center;
}

/* .grid {
    display: grid;
    gap: var(--gap, 1rem);
} */

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: var(--mq-375);
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line*/
    border: 0;
}

/* ----------------------- */
/* custom utility classes */
/* ----------------------- */
/* testing */
/* .outline {
    outline: 3px solid palevioletred;
} */
/* layout */
.flex-col {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.padding-flex-col {padding: 1rem;}
.align-end {align-self: flex-end;}

/* colors */
.bg-white {background-color: var(--clr-white);}
.bg-light-gray {background-color: var(--clr-light-gray)}
.clr-dark-blue {color: var(--clr-dark-blue);}

/* font weights */
.fw-400 {font-weight: var(--fw-400);}
.fw-700 {font-weight: var(--fw-700);}

/* font-size */
.fs-100 {font-size: var(--fs-100);}
.fs-200 {font-size: var(--fs-200);}
.fs-300 {font-size: var(--fs-300);}
.fs-400 {font-size: var(--fs-400);}
.fs-500 {font-size: var(--fs-500);}
.fs-600 {font-size: var(--fs-600);}
.fs-700 {font-size: var(--fs-700);}
.fs-800 {font-size: var(--fs-800);}
.fs-900 {font-size: var(--fs-900);}
.fs-1000 {font-size: var(--fs-1000);}
.fs-1100 {font-size: var(--fs-1100);}
.fs-1200 {font-size: var(--fs-1200);}
.fs-1300 {font-size: var(--fs-1300);}
.fs-1400 {font-size: var(--fs-1400);}

/* border */
.br-0 {border-radius: var(--fs-0, .3rem);}

